
@font-face {
    font-family: 'Apercu Medium';
    src: url('http://f.fontdeck.com/f/1/cU9qVEVyV2wAByH71rGoDQOaJq3lwe9q0tD8BOwUZIpLd/QfFlqDLoE/Fp60uIR+D0cfAZV8AVyhZw.eot');
    src: url('http://f.fontdeck.com/f/1/cU9qVEVyV2wAByH71rGoDQOaJq3lwe9q0tD8BOwUZIpLd/QfFlqDLoE/Fp60uIR+D0cfAZV8AVyhZw.eot?') format('embedded-opentype'),
    url('http://f.fontdeck.com/f/1/cU9qVEVyV2wAByH71rGoDQOaJq3lwe9q0tD8BOwUZIpLd/QfFlqDLoE/Fp60uIR+D0cfAZV8AVyhZw.woff') format('woff'),
    url('http://f.fontdeck.com/f/1/cU9qVEVyV2wAByH71rGoDQOaJq3lwe9q0tD8BOwUZIpLd/QfFlqDLoE/Fp60uIR+D0cfAZV8AVyhZw.ttf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu Mono Regular';
    src: url('http://f.fontdeck.com/f/1/NDVwN3ZoQmoAB3kh1kqJh9bwZlsYXUnP8ExWqt4kfo4vj5XCDWhbCnL91Gks4ch1uF2z/t58/Gaxfw.eot');
    src: url('http://f.fontdeck.com/f/1/NDVwN3ZoQmoAB3kh1kqJh9bwZlsYXUnP8ExWqt4kfo4vj5XCDWhbCnL91Gks4ch1uF2z/t58/Gaxfw.eot?') format('embedded-opentype'),
    url('http://f.fontdeck.com/f/1/NDVwN3ZoQmoAB3kh1kqJh9bwZlsYXUnP8ExWqt4kfo4vj5XCDWhbCnL91Gks4ch1uF2z/t58/Gaxfw.woff') format('woff'),
    url('http://f.fontdeck.com/f/1/NDVwN3ZoQmoAB3kh1kqJh9bwZlsYXUnP8ExWqt4kfo4vj5XCDWhbCnL91Gks4ch1uF2z/t58/Gaxfw.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu Bold';
    src: url('http://f.fontdeck.com/f/1/YXZkMDQ3cGcAB0LFFswdOLpZAZg4sb+XMBKylUkAth51NlocLj/qpYH9+m5cIjYgPE4m4FXqc4cKsQ.eot');
    src: url('http://f.fontdeck.com/f/1/YXZkMDQ3cGcAB0LFFswdOLpZAZg4sb+XMBKylUkAth51NlocLj/qpYH9+m5cIjYgPE4m4FXqc4cKsQ.eot?') format('embedded-opentype'),
    url('http://f.fontdeck.com/f/1/YXZkMDQ3cGcAB0LFFswdOLpZAZg4sb+XMBKylUkAth51NlocLj/qpYH9+m5cIjYgPE4m4FXqc4cKsQ.woff') format('woff'),
    url('http://f.fontdeck.com/f/1/YXZkMDQ3cGcAB0LFFswdOLpZAZg4sb+XMBKylUkAth51NlocLj/qpYH9+m5cIjYgPE4m4FXqc4cKsQ.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
